@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #828179;
  --foreground: #e6e3cf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c2bfab;
    --foreground: #535248;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
